.apt_list {
    border: 4px solid;
}

tr {
    font-size: 24px;
}

th {
    border-bottom: 1px solid #ccffff;
    background-color: #ccffff;
    padding: 7px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ccffff;
    border-right: 1px solid #ccffff;
}

* {
    background-color: #00FFFF;
    color: bold;
}
